#root, body {
    height: 100%;
    background-color: rgb(107, 107, 107);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#shop {
    margin-top: 50px;
    height: 100%;
}

.loading, .error {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    font-size: 3em;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
    transition: all 0.5s ease;
    animation: render 0.5s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product-title {
    margin: 15px 5px;
    text-align: center;
}

.product-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.show-desc {
    background-color: black;
    color: white;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    transition: all 0.5s ease;
}

.show-desc:hover {
    cursor: pointer;
    background-color: rgb(66, 65, 65);
    color: darkorange;
}

.show-desc:hover + .product-desc{
    display: block;
}

.product-desc:hover {
    display: block;
}

.product-image {
    width: 200px;
    height: 200px;
}

.product-desc {
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    border: 1px solid darkgrey;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px 10px;
}

.price-quantity-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px;
}

.product-price {
    padding: 10px;
    text-align: center;
}

.quantity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.buy-btn {
    width: 135px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    transition: all 0.5s ease;
}

.buy-btn:hover {
    background-color: rgb(66, 65, 65);
    cursor: pointer;
    color: darkorange;
}

@keyframes render {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
