* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    animation: moveUp 1s ease-out;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
}

.footer-link {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 5px;
}

.footer-link:hover {
    cursor: pointer;
    color: darkorange;
    transform: scale(1.1);
}

.footer-bottom {
    color: darkorange;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        translate: 0 200px;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}