nav {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0px 10px;
    width: 30px;
}

.nav-link:hover {
    cursor: pointer;
    color: darkorange;
}

.total-items {
    padding: 0 10px;
}

.total-items:hover {
    fill: darkorange;
}

.heading {
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
    color: darkorange;
}

.cart-link {
    background-image: url("/src/assets/icons/cart.svg");
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}